<div class="campaign-container">
  <!-- Header Section -->
    <div class="header mb-3">
        <h3>Campaign</h3>
        <input type="search" placeholder="New Campaign">
    </div>
    <div class="campaign-details">
    <mat-horizontal-stepper [linear]="true" #stepper
    [orientation]="(stepperOrientation | async)!">
      <!-- Step 1 -->
      <mat-step>
        <ng-template matStepLabel >Campaign Details</ng-template>
        <!-- Basic information -->
        <app-campaign-basic-info (formSubmitted)="stepper.next()"></app-campaign-basic-info>
      </mat-step>
    
      <!-- Step 2 -->
      <mat-step>
        <ng-template matStepLabel>Location Details</ng-template>
        <!-- Location information -->
        <app-campaign-location (formSubmitted)="stepper.next()" (formBack)="stepper.previous()"></app-campaign-location>
      </mat-step>
    
      <!-- Step 3 -->
      <mat-step>
        <ng-template matStepLabel>Audience</ng-template>
        <!-- Audience Information -->
        <app-campaign-audience (formSubmitted)="stepper.next()" (formBack)="stepper.previous()"></app-campaign-audience>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Summary</ng-template>
        <!-- Summary -->
        <app-campaign-summary (formBack)="stepper.previous()"></app-campaign-summary>
      </mat-step>
    </mat-horizontal-stepper> 
  </div>
</div>
