.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.center{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
}
.active{
  background-color: #ccccff;
}