<div class="campaign-details">
  
    <h5 class="mb-3">Campaign details</h5>
    <!-- Creating New Form -->
    <form class="form" [formGroup]="formDetails">
      <!-- Campaign Name -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Campaign Name</mat-label>
        <input type="text" matInput formControlName="name"
               placeholder="Name">
        <mat-error *ngIf="form['name'].hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <!-- Campaign Objective -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Campaign Objective</mat-label>
        <input type="text" matInput formControlName="objective"
               placeholder="Ex:Need Economical Help">
        <mat-error *ngIf="form['objective'].hasError('required')">
          Objective is required
        </mat-error>
      </mat-form-field>
      <!-- Campaign Category -->
      <div class="optional">
        <mat-form-field appearance="outline">
          <mat-label>Campaign Category</mat-label>
          <mat-select disableRipple formControlName="category">
            <mat-option value="Category 1">Category 1</mat-option>
            <mat-option value="Category 2">Category 2</mat-option>
            <mat-option value="Category 3">Category 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Offer Type</mat-label>
          <mat-select disableRipple formControlName="offer_type">
            <mat-option value="Offer 1">Offer 1</mat-option>
            <mat-option value="Offer 2">Offer 2</mat-option>
            <mat-option value="Offer 3">Offer 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Comment -->
      <mat-form-field appearance="outline">
        <mat-label>Additional Comments</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>
    </form>
    <!-- Navigate to Next Section -->
    <div class="text-end">
      <button mat-raised-button class="button" color="primary" [routerLink]="['/create/home/location']" type="submit" [disabled]="!formDetails.valid" (click)="sendActivation()">
        Next
      </button>
    </div>
    
  </div>
  