<div class="workspace-container">
  <!-- Header  -->
  <div class="header-container">
    <h3 class="header-text">Manage Campaigns</h3>
    <div class="users">
      <mat-form-field>
        <mat-label>Select Admin</mat-label>
        <mat-select>
          <mat-option value="option">Lathesh</mat-option>
          <mat-option value="option">Vikash</mat-option>
          <mat-option value="option">Sathwik</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- List Section -->
  <div class="title mt-3">
    <p>Manage Campaigns</p>
  </div>
  <div class="display-list p-4">
    <button
    mat-raised-button color="primary"
    class="button mb-3"
      routerLink="/create/home"
    >
      Create Campaign
    </button>
    <!-- Listing Campaign Details -->
    <div class="table-container">
      <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8"
    >
      <!-- Id Column -->
      <ng-container matColumnDef="Program_ID">
        <th mat-header-cell *matHeaderCellDef>Program ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Campaign Name
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="['/campaign/userDetails', element.id]"
          class="userName"
        >
          <a mat-list-item routerLinkActive="active"> 
            <span class="center">
              {{ element.request }}, {{ element.name }}
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="link"></mat-icon>
           
          </span></a>
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by status"
        >
          Status
        </th>
        <td mat-cell *matCellDef="let element">
          <div
            class="status"
            [style.backgroundColor]="
              element.status === 'completed'
                ? '#ccffcc'
                : element.status === 'draft'
                ? '#e6e6e6'
                : '#ccccff'
            "
          >
            {{ element.status | titlecase }}
          </div>
        </td>
      </ng-container>

      <!-- CTR Column -->
      <ng-container matColumnDef="CTR">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by CTR"
        >
          CTR
        </th>
        <td mat-cell *matCellDef="let element">{{ element.CTR }}</td>
      </ng-container>
      <!-- Start Date Column -->
      <ng-container matColumnDef="start_date">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by start_date"
        >
          Start Date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.start_date | date : "dd MMMM, h:mm a(YYYY)" }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    </div>   
  </div>
</div>
