<div class="summary-container">
  <h5>Summary</h5>
  <div class="userdetails">
    <!-- Profile And Name -->
    <div class="left">
      <img src="../../../../assets/image/campaign.jpg" alt="" class="mb-2" />
      <h3>{{ formData.name }}</h3>
    </div>

    <!-- Information -->
    <div class="right">
      <table class="table">
        <tr>
          <td>Program ID</td>
          <td>{{ formData.id }}</td>
        </tr>
        <tr>
          <td>Objective</td>
          <td>{{ formData.objective || "No Objective" }}</td>
        </tr>
        <tr>
          <td>Category</td>
          <td>{{ formData.category || "No Category" }}</td>
        </tr>
        <tr>
          <td>Offer Type</td>
          <td>{{ formData.offer_type || "No Offer_type" }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>
            <div
              class="status"
              [style.backgroundColor]="
                formData.status === 'completed'
                  ? '#ccffcc'
                  : formData.status === 'draft'
                  ? '#e6e6e6'
                  : '#ccccff'
              "
            >
              {{ formData.status }}
            </div>
          </td>
        </tr>
        <tr>
          <td>CTR</td>
          <td>{{ formData.CTR }}</td>
        </tr>
        <tr>
          <td>Started Date</td>
          <td>{{ formData.start_date | date : "dd MMMM, h:mm a(YYYY)" }}</td>
        </tr>

        <tr>
          <td>Location</td>
          <td class="locations" *ngIf="formData.location.length>0">
            <span *ngFor="let location of formData.location" class="location">{{
              location
            }}</span>
          </td>
          <td *ngIf="formData.location.length==0">
            Empty Location
          </td>
        </tr>
      </table>
      <div class="footer">
        <button
          mat-stroked-button
          class="button"
          color="basic"
          [routerLink]="['/create/home/audience']"
          (click)="goBack()"
        >
          Back
        </button>
        <button
          mat-raised-button
          extended
          class="button mx-3"
          color="primary"
          routerLink="/campaign/list-campaign"
          (click)="addCampaign()"
        >
          Submit
        </button>
      </div>
    </div>
    
  </div>
</div>
